# Python
backend/venv/
__pycache__/
*.pyc
.pytest_cache/
.env

# Node
node_modules/
build/
dist/

# Environment
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log